/* общие стили */

@font-face {
    font-family: "Jost-Regular";
    src: url("../fonts/Jost-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Jost-Semibold";
    src: url("../fonts/Jost-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Jost-Bold";
    src: url("../fonts/Jost-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

:root {
    --white-color: #ffffff;
    --dark-color: #141024;
    --red-color: #D52027;
    --blue-color: #3953FF;
    --grey-color: #c5b3b3b8;
    --light_blue-color: #A7B4FD;
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* стили header */

header {
    background-color: var(--white-color);
}

.header_wrapper {
    max-width: 192rem;
    padding-top: 3.3rem;
    padding-bottom: 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.header_item_link {
    font-family: "Jost-Regular";
    font-size: 2.4rem;
    line-height: 160%;
    color: var(--dark-color);
}

.header_item_link:hover {
    border: 2px solid var(--blue-color);
    border-radius: 1rem;
    padding: 0.5rem;
}

.header_list {
    display: flex;
    gap: 5.3rem;
    margin: 0;
    padding: 0;
}

/* стили для main */

.wrapper_journal {
    max-width: 192rem;
    margin: 0 auto;
    padding: 8.6rem 17rem 5.8rem 17rem;
    display: flex;
    flex-direction: column;
}

h1 {
    display: none;
}

body {
    background-color: var(--dark-color);
}

.card_img {
    display: block;
    min-width: 74rem;
}

.text_box {
    background-color: var(--white-color);
    padding: 2.6rem 4.4rem 2.5rem 3.3rem;
    max-width: 74rem;
    min-height: 57.242rem;
    display: flex;
    flex-direction: column;
}

.card_title {
    font-family: "Jost-Bold";
    font-size: 3.4rem;
    line-height: 100%;
    color: var(--dark-color);
    margin: 0;
    text-transform: uppercase;
}

hr {
    max-width: 67.4rem;
    color: var(--grey-color);
    margin: 1rem 0 2.6rem 0;
}

.text_card {
    font-family: "Jost-Regular";
    font-size: 1.8rem;
    line-height: 100%;
    color: var(--dark-color);
    margin-top: 0;
    margin-bottom: 0rem;
}

.data {
    font-family: "Jost-Regular";
    font-size: 1.8rem;
    line-height: 100%;
    color: var(--dark-color);
    position: relative;
    align-self: flex-end;
    margin-top: auto;
}

.card_list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.link_journal {
    color: var(--white-color);
    background-color: var(--red-color);
    font-family: "Jost-Regular";
    font-size: 2.8rem;
    line-height: 160%;
    padding: 2.5rem 5.4rem;
    align-self: center;
    margin-top: 8.9rem;
}

.link_journal:hover {
    color: var(--red-color);
    background-color: var(--white-color);
    border: 1px solid var(--red-color);
}

.link:hover {
    color: var(--red-color);
    background-color: var(--white-color);
    border: 1px solid var(--red-color);
}

.title_cadr_list {
    font-family: "Jost-Semibold";
    font-size: 1.8rem;
    line-height: 100%;
    color: var(--dark-color);
    margin-bottom: 0.5rem;
}

.card_list_list_item {
    font-family: "Jost-Regular";
    font-size: 1.8rem;
    line-height: 140%;
    color: var(--dark-color);
}

.card_list_list_text {
    margin-top: 1.8rem;
    font-family: "Jost-Regular";
    font-size: 1.8rem;
    line-height: 100%;
    color: var(--dark-color);
}

.card_list_list {
    list-style-type: disc;
    padding-left: 2.2rem;
}

.card_list_list_item::marker {
    color: var(--red-color);
    font-size: 1em;
}

@media (max-width: 1919px) {

    .header_wrapper {
        max-width: 144rem;
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .header_item_link {
        font-size: 2rem;
        font-family: "Jost-Regular";
        line-height: 160%;
        color: var(--dark-color);
        box-sizing: border-box;
        padding: 0.5rem;
        border: 2px solid transparent;
    }

    .header_list {
        display: flex;
        gap: 6.2rem;
        margin: 0;
        padding: 0;
    }
    
    .wrapper_journal {
        max-width: 144rem;
        margin: 0 auto;
        padding: 6.2rem 15rem 4.8rem 15rem;
        display: flex;
        flex-direction: column;
    }

    .card_img {
        display: block;
        min-width: 0;
        min-width: 51.2rem;
        max-height: 42.6rem;
    }
    
    .text_box {
        background-color: var(--white-color);
        padding: 2.6rem 4.4rem 2.5rem 3.3rem;
        max-width: 51.2rem;
        min-height: 61.119rem;
        display: flex;
        flex-direction: column;
    }
    
    .card_title {
        font-family: "Jost-Bold";
        font-size: 2.4rem;
        line-height: 140%;
        color: var(--dark-color);
        margin: 0;
        text-transform: uppercase;
    }
    
    hr {
        max-width: 67.4rem;
        color: var(--grey-color);
        margin: 1rem 0 2.6rem 0;
    }
    
    .text_card {
        font-family: "Jost-Regular";
        font-size: 1.6rem;
        line-height: 100%;
        color: var(--dark-color);
        margin-top: 0;
        margin-bottom: 0rem;
    }
    
    .data {
        font-family: "Jost-Regular";
        font-size: 1.6rem;
        line-height: 100%;
        color: var(--dark-color);
        position: relative;
        align-self: flex-end;
        margin-top: auto;
        margin-bottom: 0;
    }
    
    .card_list {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    
    .link_journal {
        color: var(--white-color);
        background-color: var(--red-color);
        font-family: "Jost-Regular";
        font-size: 2.4rem;
        line-height: 160%;
        padding: 1.5rem 4rem;
        align-self: center;
        margin-top: 6rem;
    }
    
    .title_cadr_list {
        font-family: "Jost-Semibold";
        font-size: 1.6rem;
        line-height: 100%;
        color: var(--dark-color);
        margin-bottom: 0.5rem;
    }
    
    .card_list_list_item {
        font-family: "Jost-Regular";
        font-size: 1.6rem;
        line-height: 140%;
        color: var(--dark-color);
    }
    
    .card_list_list_text {
        margin-top: 1.8rem;
        font-family: "Jost-Regular";
        font-size: 1.6rem;
        line-height: 100%;
        color: var(--dark-color);
    }
    
    .card_list_list {
        list-style-type: disc;
        padding-left: 2.2rem;
    }
    
    .card_list_list_item::marker {
        color: var(--red-color);
        font-size: 1em;
    }
}