.section__wrapper {
    max-width: 1572px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.section_title {
    color: #D52027;
    text-transform: uppercase;
    font-family: 'Jost-Semibold';
    font-size: 5.4rem;
    margin-top: 6.5rem;
    margin-bottom: 0;
}

.section_two-title {
    color: #141024;
    font-size: 2rem;
    font-family: 'Jost-Semibold';
    background-color: white;
    border: 1px solid white;
    border-radius: 12px;
    display: inline-block;
    text-transform: uppercase;
    padding: 14px;
    margin-top: 54px;
}

.section_two-title-analogue {
    color: #141024;
    font-size: 2rem;
    font-family: 'Jost-Semibold';
    background-color: white;
    border: 1px solid white;
    border-radius: 12px;
    display: inline-block;
    text-transform: uppercase;
    padding: 14px;
    margin-top: 49px;
}

.wrapper-for-text {
    line-height: 95%;
}

.text_about {
    font-size: 1.8rem;
    color: white;
    font-family: 'Jost-Regular';
    margin-left: 8px;
}

.link-after-text {
    font-size: 1.8rem;
    color: white;
    font-family: 'Jost-Regular';
    margin-left: 8px;
    text-decoration: underline;
}

.text_about, .link-after-text {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

@media (max-width:1600px) {
    .section__wrapper {
        max-width: 1174px;
        margin: 0 auto;
    }
    
    .section_title {
        font-size: 4.2rem;
        margin-top: 7.5rem;
        margin-bottom: 0;
    }
    
    .section_two-title {
        font-size: 2rem;
        font-family: 'Jost-Semibold';
        padding: 14px;
        margin-top: 54px;
    }
    
    .section_two-title-analogue {

        font-size: 2rem;
        font-family: 'Jost-Semibold';
        padding: 14px;
        margin-top: 49px;
    }
    
    .wrapper-for-text {
        line-height: 1.2;
    }
    
    .text_about {
        font-size: 1.8rem;
        margin-left: 8px;
    }
    
    .link-after-text {
        font-size: 1.8rem;
        margin-left: 8px;
        text-decoration: underline;
    }
}